/******* BOTON WHATSAPP ******/
.boton-whatsapp {
    background-color: rgb(201, 209, 201);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 30px;
    z-index: 1;
  }
  
  #tooltip {
    font-weight: bold;
    height: 50px;
    position: absolute;
    visibility: hidden;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .boton-whatsapp:hover #tooltip {
    top: -55px;
    right: 10px;
    width: 250px;
    background-color: rgb(201, 209, 201);
    visibility: visible;
    border-radius: 15px;
    border-color: #0000 #0000 #0000 #0000;
  }
  
  .fa-whatsapp {
    color: rgb(0, 128, 0);
    font-size: 2.8rem;
  }