body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	/* font-family: sans-serif; */
	background-image: linear-gradient( 91deg, rgba(72,154,78,1) 5.2%, rgba(251,206,70,1) 95.9% );
display: flex;
flex-direction: column;
min-height: 100vh;
}

.heading {
	color: white;
	font-size: 60px;
	text-align: justify;
	/* font-family: Arial, Helvetica, sans-serif; */
	text-shadow: 1px 2px 2px black;
}

p {
	color: white;
	font-size: 18px;
	text-align: center;
	/* font-family: Arial, Helvetica, sans-serif; */
}

h1 {
	margin-top: 150px;
}

.modal-content{
	background-color: rgba(72,154,78,1)!important;
	border: 2px solid rgba(251, 251, 251, 0.5)!important;
  
  }

.maincard {
	/* margin: 100px 100px; */
	/* box-shadow: 0 4px 8px 0 lightskyblue; */
	/* float: left; */
	/* width: 10px;
	height: min-content; */
	width: 230px;
	height: 300;
	margin-bottom: 30px;
}

.containerConocenos {
	/* margin: 100px 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap; 
	padding-right: 18rem;
	gap: 20px; */
	
	gap: 6px;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
} 

.cardConocenos {
	position: relative;
	overflow: hidden;
	/* display: flex;
	justify-content: center; */
	width: 230px;
	height: 300px;
	/* margin: 0 50px; */
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	/* box-shadow: 0 2px 10px #fff; */
	background: rgb(225, 225, 255, 0.2);
	border-radius: 15px;
	backdrop-filter: blur(5px);
	cursor: pointer;
}

.contenedorMain {
	margin-top: 20vh;
}

.cardConocenos .efect {
	z-index: 1;
	position: absolute;
	top: calc(100% - 2px);
	height: 100%;
	width: 100%;
	left: 0;
	background-image: linear-gradient(
		to right top,
		rgb(123, 165, 255),
		rgb(0, 192, 102)
	);
	transition: 0.5s;
}

.cardConocenos .content {
	z-index: 2;
	position: relative;
}
.cardConocenos:hover .efect {
	top: 0;
}
.cardConocenos .content p {
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	color: #fff;
}

.image img {
	width: 100%;
	object-fit: fill;
	border-radius: 50%;
}
.cardConocenos .content .details h2 {
	font-size: 18px;
	color: #fff;
}

.cardConocenos .content .details h2 span {
	font-size: 18px;
	color: white;
	transition: 0.5s;
}

.cardConocenos:hover .coment .details h2 span {
	color: aqua;
	position: relative;
}

footer {
	margin-top: auto;
    background-color: rgba(72, 154, 78, 1);
    border-top: 1px solid #f3f3f3;

}