body {
    background-image: linear-gradient( 91deg, rgba(72,154,78,1) 5.2%, rgba(251,206,70,1) 95.9% );
    position: relative;
    min-height: 100vh;
}

.fonditogris {
    background-color: rgba(0, 0, 0, 0.1);
}

h2 {text-shadow: 1px 2px 2px black;}

.sombracontacto {text-shadow: 1px 2px 2px black; color: white;}



main {
    margin-top: 2em;
}

footer {
    position: absolute;
    top: 100%;
    background-color: rgba(72, 154, 78, 1);
    border-top: 1px solid #f3f3f3;

}